<h2>Resend unlock instructions</h2>
<h1 class="header">Resend unlock instructions</h1>
<div class="form-group container col-2 mt-5">
    <div class="row col-12-sm justify-content-center">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>
      <%= render "devise/shared/links" %>
      <% end %>
    </div>
</div>
