<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div id="logo-name"
      <a class="navbar-brand mb-4" href="#"><img src="assets/logo.png" id="logo"></img></a>
      <img src = "assets/companyname.png" id="companyname"></img>
 </div>

  <div id="motto"><p>Empowering The Gig Economy, Anywhere</p></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-end">
        <%= form_tag(freelancers_path, :method => "get", class: 'form-inline mt-4') do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Locations", class: 'form-control mr-sm-2', id: 'search_location' %>
            <%= submit_tag "Search", :name => nil, class: 'btn btn-success my-4 my-sm-0' %>
        <% end %>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <h6><a class="nav-link mb-6" href="/">Home <span class="sr-only">(current)</span></a></h6>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
                <h6><a class="nav-link mb-6" href="/freelancers/<%= current_user.freelancer.id %>">Profile</a></h6>
            </li>
            <li class="nav-item">
                <h6><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link mb-6" %></h6>
            </li>
            <% else %>
            <li class="nav-item">
                <h6><a class="nav-link mb-6" href="/users/sign_up">Sign-Up</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link mb-6" href="/users/sign_in">Login</a></h6>
            </li>
            <% end %>
        </ul>
    </div>
</nav>
