<div class="container">
  <div class="row col-12">
    <%= form_with(model: freelancer, local: true) do |form| %>
      <% if freelancer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(freelancer.errors.count, "error") %> prohibited this freelancer from being saved:</h2>

          <ul>
          <% freelancer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field">
        <%= form.label :bio %>
        <%= form.text_field :bio %>
      </div>

      <div class="field">
        <%= form.label :genre %>
        <%= form.textr_field :genre %>
      </div>      

      <div class="field">
        <%= form.label :userpic %>
        <%= form.text_field :userpic %>
      </div>

      <div class="field">
        <%= form.label :picture %>
        <%= form.text_field :picture %>
      </div>

      <div class="field">
        <%= form.label :location %>
        <%= form.text_field :location %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>

