


<div class="container justify-content-center mt-5" id="freelance-cards">
<div class="row col-12-sm text-center justify-content-center" style="">
<h1 class="header">Photographers in <%= params[:search] %></h1>
</div>

  <div class="row col-12-sm text-center justify-content-center" style="margin-bottom: 5rem;">
    <% @freelancers.each do |freelancer| %>
      <div class="card">
        <img class="card-img-top" src="<%= freelancer.picture %>" alt="Card image cap">
        <div class="avatar">
          <img alt="" src="<%= freelancer.userpic %>">
        </div>
        <div class="card-body">
          <h5 class="card-title card-dark"><%= link_to freelancer.first_name, freelancer %></h5>
          <p class="card-text"><%= freelancer.bio %></p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= freelancer.location %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
