<p id="notice"><%= notice %></p>

<h1 class="header">Freelancers</h1>

<div class="container justify-content-center mt-5">
  <div class="row col-12-sm text-center">
    <% @freelancers.each do |freelancer| %>
      <div class="card" style="width: 35rem;">
        <img class="card-img-top" src="<%= freelancer.picture %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title card-dark"><%= freelancer.first_name %> <%= freelancer.last_name %></h5>
          <p class="card-text"><%= freelancer.bio %></p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= freelancer.location %></li>
            <li class="list-group-item"><%= freelancer.userpic %></li>
        </ul>
        <div class="card-body">
          <a class="card-link"><%= link_to 'Show', freelancer %></a>
          <a class="card-link"><%= link_to 'Edit', edit_freelancer_path(freelancer) %>
          <a class="card-link"><%= link_to 'Destroy', freelancer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="freelancer"><button type="button" class="btn btn-success"><%= link_to 'New Freelancer', new_freelancer_path %></button></div>