  <p id="notice"><%= notice %></p>

  <div class="row col-12-s" id="freelancer-photog">
  <!-- <strong>Picture:</strong> -->
  <img src= '<%= @freelancer.picture %>' class="img-fluid" id="photog-image"></img> 
</div>

<div id="container">
  <div id="freelancer-avatar">
    <!-- <strong>Userpic:</strong> -->
    <img src= '<%= @freelancer.userpic %>'id="userpic"></img>
  </div>
</div>

<div id="freelancer-name">
  <h3>
   <!--  <strong>First name:</strong> -->
    <%= @freelancer.first_name %>
  </h3>

  <h3>
    <!-- <strong>Last name:</strong> -->
    <%= @freelancer.last_name %>
  </h3>
</div>

<div id= "bio">
  <h5 id="aboutme">About Me:</h5>

  <h6>
    <%= @freelancer.bio %>
  </h6>
</div>

<div id="location">
    <!-- <strong>Location:</strong> -->
    <p id="location-font">
    <%= @freelancer.location %>
  </p>
</div>

<div id="edit"><p id="edit-text"><%= link_to 'Edit', edit_freelancer_path(@freelancer) %></p></div>
<!--   | <%= link_to 'Back', freelancers_path %> -->
