<p id="notice"><%= notice %></p>
<div class="container justify-content-center mt-5">
  <div class="row col-12-sm text-center">
      <div class="card" style="width: 72rem;">
        <img class="card-img-top" src="<%= @destination.picture %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title card-dark"><%= @destination.title %> </h5>
          <p class="card-text"><%= @destination.description %></p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @destination.country %></li>
        </ul>
      </div>
  </div>
</div>
<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destination_path %>