<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @destination.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<div><img src='<%= @destination.picture %>'></div>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
