<p id="notice"><%= notice %></p>


<div><%= image_tag(@destination.picture, id: 'destination-picture') %>
		<div id= "location-info">

	<p id= "city">
	  <!-- <strong>Title:</strong> -->
	  <%= @destination.title + "," %>
	</p>

	<p id="country">
	  <!-- <strong>Country:</strong> -->
	  <%= @destination.country %>
	</p>

<div><img src='<%= @destination.picture %>'class="img-fluid. max-width: 100%" height: 500px; alt="Responsive image"></div>


	<p id="description">
	  <!-- <strong>Description:</strong> -->
	  <%= @destination.description %>
	</p>

		</div>

</div>
<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destination_path %>