<div class="container justify-content-center">
<h1 class="header">Photographers in <%= params[:location] %></h1>

<div class="row col-12-sm text-center justify-content-center card-deck" style="margin-bottom: 5rem;">
    <% @freelancers_from_location.each do |freelancer| %>
      <div class="card">
        <img class="card-img-top" src="<%= freelancer.picture %>" alt="Card image cap">
        <div class="avatar">
          <img alt="" src="<%= freelancer.userpic %>">
        </div>
        <div class="card-body">
          <h5 class="card-title card-dark"><%= link_to freelancer.first_name, freelancer %></h5>
          <p class="card-text"><%= freelancer.bio %></p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= freelancer.location %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
